# Ignore NPM and Bower folders.
bower_components
node_modules
npm-debug.log

# Other common stuff.
.tmp
.DS_Store
*.pyc
screenshots
sitemap.xml

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Netbeans
nbproject

# Mac
.DS_Store
